<h1>Gebruikers</h1>


  <div class="block">
  <input type="text" class="form-control" name="searchString" placeholder="Zoek op achternaam..." [(ngModel)]="searchString">
</div>
<br>
<br>
<div class = "card">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Voornaam</th>
      <th scope="col">Achternaam</th>
      <th scope="col">E-mailadres</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users | zoekFilter : 'achternaam' : searchString" >
      <td >{{user.voornaam}}</td>
      <td>{{user.achternaam}}</td> 
      <td>{{user.email}}</td>
    </tr>
  </tbody>
</table>
</div>
